
@{
    Layout = null;
}
@using Model;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>third_kind_register</title>
    <link href="~/css/table.css" rel="stylesheet"/>
    <script src="~/js/comm/comm.js"></script>
    <script type="text/javascript">
        function change1() {
            var se = document.getElementById("firstKindId");
            document.getElementById("firstKindName").value = se.options[se.selectedIndex].innerHTML;          
        }
        function change2() {
            var se = document.getElementById("secondKindId");
            document.getElementById("secondKindName").value = se.options[se.selectedIndex].innerHTML;          
        }
    </script>
</head>
<body>
    <form action="/client/Addconfig_file_third_kind" method="post">
        <input type="hidden" id="firstKindName" name="first_kind_name">
        <input type="hidden" id="secondKindName" name="second_kind_name">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">
                        您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--III级机构设置--III级机构添加
                    </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="提交" class="BUTTON_STYLE1">
                    <input type="button" value="返回" class="BUTTON_STYLE1"
                           onclick="history.back();">
                </td>
            </tr>
        </table>

        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td width="19%" class="TD_STYLE1">
                    I级机构名称
                </td>
                <td width="81%" class="TD_STYLE2">
                    @{List<config_file_first_kind> list1 = (List<config_file_first_kind>)ViewData["一级"];}
                    <select name="first_kind_id" onchange="change1()" id="firstKindId" class="INPUT_STYLE1">                                      
                        @foreach (var item in list1)
                        {
                            <option value="@item.first_kind_id">@item.first_kind_name</option>
                        }                     
                    </select>
                </td>
            </tr>
            <tr>
                <td width="19%" class="TD_STYLE1">
                    II级机构名称
                </td>
                <td width="81%" class="TD_STYLE2">
                    @{List<config_file_second_kind> list2 = (List<config_file_second_kind>)ViewData["二级"];}
                    <select name="second_kind_id" onchange="change2()" id="secondKindId" class="INPUT_STYLE1">
                       @foreach (var item in list2)
                       {
                           <option value="@item.second_kind_id">@item.second_kind_name</option>
                       }
                    </select>
                </td>
            </tr>
            <tr>
                <td width="19%" class="TD_STYLE1">
                    III级机构编号
                </td>
                <td width="81%" class="TD_STYLE2"><input type="text" readonly="readonly" name="third_kind_id" id="third_kind_id" value="@ViewData["third_kind_id"]" /></td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    III级机构名称
                </td>
                <td class="TD_STYLE2">
                    <input type="text" class="INPUT_STYLE1" name="third_kind_name" />
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    销售责任人编号（多个编号之间请用"半角逗号"加"一个空格"隔开，如", "）
                </td>
                <td class="TD_STYLE2">
                    <textarea rows="4" cols="120" class="TEXTAREA_STYLE1" name="third_kind_sale_id"></textarea>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    是否为零售店（是/否）
                </td>
                <td class="TD_STYLE2">
                    <select name="third_kind_is_retail">
                        <option selected="selected" value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
